openapi: "3.0.3"
info:
  title: Bank API
  description: API for Bank Backend that provides CRUD-operations for accounts, customers, transactions and managers
  version: "1.0.0"
servers:
  - url: "https://api.bank.com"
paths:
  /accounts:
    get:
      summary: Get all accounts
      operationId: "getAllAccounts"
      responses:
        "200":
          description: List of all accounts
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountsListDto"
    post:
      summary: Create new account
      operationId: "createAccount"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
        required: true
      responses:
        "200":
          description: Account was successfully created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountDto"
  /accounts/{id}:
    get:
      summary: Get the account with given id
      operationId: "getAccount"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: Account information
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountDto"
    patch:
      summary: Update account balance
      operationId: "updateCustomerAccount"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
        required: true
      responses:
        "200":
          description: Account was successfully updated
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AccountDto"
    delete:
      summary: Deactivate account with given id
      operationId: "deleteAccount"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "204":
          description: Account with given id was successfully deactivated
  /managers:
    get:
      summary: Get all managers
      operationId: "getAllManagers"
      responses:
        "200":
          description: List of all managers
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ManagerListDto"
    post:
      summary: Create manager
      operationId: "createManager"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateManagerRequest"
        required: true
      responses:
        "200":
          description: Manager was successfully created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ManagerDto"
  /managers/{id}:
    get:
      summary: Get manager with given id
      operationId: "getManager"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: Manager information
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ManagerDto"
    patch:
      summary: Update manager information
      operationId: "updateManager"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateManagerRequest"
        required: true
      responses:
        "200":
          description: Manager was successfully updated
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ManagerDto"
    delete:
      summary: Deactivate manager with given id
      operationId: "deleteManager"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: Manager with given was successfully deactivated
  /customers:
    get:
      summary: Get all customers
      operationId: "getAllCustomers"
      responses:
        "200":
          description: List of all customers
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CustomersListDto"
    post:
      summary: Create customer
      operationId: "createCustomer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
        required: true
      responses:
        "200":
          description: Customer was successfully created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CustomerDto"
  /customers/{id}:
    get:
      summary: Get customer with given id
      operationId: "getCustomer"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: Customer information
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CustomerDto"
    patch:
      summary: Update customer information
      operationId: "updateCustomer"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomerRequest"
        required: true
      responses:
        "200":
          description: Customer was successfully updated
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/CustomerDto"
    delete:
      summary: Deactivate customer with given id
      operationId: "deleteCustomer"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: Customer with given id was successfully deactivated
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Void"
  /transactions:
    get:
      summary: Get all transactions
      operationId: "getAllTransactions"
      parameters:
        - name: "accountId"
          in: "query"
          description: Filter transactions by account id
          required: false
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: List of all transactions
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TransactionListDto"
    post:
      summary: Create transaction
      operationId: "createTransaction"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransactionRequest"
        required: true
      responses:
        "200":
          description: Transaction was successfully created
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TransactionDto"
  /transactions/{id}:
    get:
      summary: Get transaction with given id
      operationId: "getTransaction"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: Transaction information
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TransactionDto"
components:
  schemas:
    BigDecimal:
      type: "object"
      properties: { }
    AccountDto:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        customerId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        balance:
          $ref: "#/components/schemas/BigDecimal"
        currency:
          type: "string"
          enum:
            - "EUR"
            - "USD"
            - "UAH"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
        status:
          type: "string"
          enum:
            - "ACTIVE"
            - "INACTIVE"
    AccountsListDto:
      type: "object"
      properties:
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/AccountDto"
    CreateAccountRequest:
      type: "object"
      properties:
        name:
          type: "string"
        currency:
          type: "string"
          enum:
            - "EUR"
            - "USD"
            - "UAH"
        balance:
          $ref: "#/components/schemas/BigDecimal"
        customerId:
          type: "string"
          format: "uuid"
    UpdateAccountRequest:
      type: "object"
      properties:
        balance:
          $ref: "#/components/schemas/BigDecimal"
    ManagerDto:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        status:
          type: "string"
          enum:
            - "ACTIVE"
            - "INACTIVE"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
    ManagerListDto:
      type: "object"
      properties:
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ManagerDto"
    CreateManagerRequest:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        password:
          type: "string"
    UpdateManagerRequest:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        password:
          type: "string"
    Void:
      type: "object"
      properties: { }
    CustomerDto:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        status:
          type: "string"
          enum:
            - "ACTIVE"
            - "INACTIVE"
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        address:
          type: "string"
        phone:
          type: "string"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"
    CustomersListDto:
      type: "object"
      properties:
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/CustomerDto"
    CreateCustomerRequest:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        address:
          type: "string"
        phone:
          type: "string"
    UpdateCustomerRequest:
      type: "object"
      properties:
        firstName:
          type: "string"
        lastName:
          type: "string"
        email:
          type: "string"
        address:
          type: "string"
        phone:
          type: "string"
    TransactionDto:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        debitAccountId:
          type: "string"
          format: "uuid"
        creditAccountId:
          type: "string"
          format: "uuid"
        amount:
          $ref: "#/components/schemas/BigDecimal"
        description:
          type: "string"
        createdAt:
          type: "string"
          format: "date-time"
    TransactionListDto:
      type: "object"
      properties:
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/TransactionDto"
    CreateTransactionRequest:
      type: "object"
      properties:
        debitAccountId:
          type: "string"
          format: "uuid"
        creditAccountId:
          type: "string"
          format: "uuid"
        amount:
          $ref: "#/components/schemas/BigDecimal"
        description:
          type: "string"